{% extends sitebase.html%}
{% block head %}
<script type="text/javascript">
  $(document).ready(function () {
    $("#create-form").validate();
  });
</script>
{% end %}
{% block content %}
<h3>Create a new user</h3>
<div id="msg">{{msg}}</div>
<form action="/user/add/" method="POST" id="create-form">
<table>
<tr><td><label for="username">Username:</label></td><td><input type="text" name="username" id="username" required></td></tr>
<tr><td><label for="password">Password:</label></td><td><input type="password" name="password" id="password" required></td></tr>
<tr><td><label for="name">Name:</label></td><td><input type="text" name="name" id="name" required></td></tr>
<tr><td><label for="email">Email:</label></td><td><input type="email" name="email" id="email" required></td></tr>
<tr><td><label for="access">Access:</label></td><td>
{% for level in levels %}
<input type="radio" name="access" id="access" value="{{level}}" required> {{level}}<br/>
{% end %}
</td></tr>
</table>
<input type="submit" value="Create User">
</form>
{% end %}