{% extends sitebase.html %}
{% block head %}
<script type="text/javascript">
function render_plate(plate_id) {
	$.get("/plate/render/" + plate_id)
		.done(function (data) {
			$("#render").html(data);
			$("#msg").text("");
		})
		.fail(function () {
			$("#msg").text("ERROR: Could not communicate with server. Please try again in a few minutes");
		});
}

	$(document).ready(function () {
		{% if plate_id is not None %}
		$("#platemap-select").val("{{plate_id}}");
		render_plate("{{plate_id}}");
		{% end %}
		$("#platemap-select").chosen();
	});
</script>
{% end %}

{% block content %}
<div id="select">
	<h3>View/Edit Platemap</h3>
	<div id="msg"></div>
	Select platemap: <select style="width:350px;" name="platemap-select" id="platemap-select" onchange="render_plate(this.value)">
	<option value=""></option>
	{% for p in plates %}
		<option value="{{p.id}}">{{p.id}} - {{p.name}}</option>
	{% end %}
	</select>
</div>
<div id="render"></div>
{% end %}