{% extends sitebase.html %}
{% block head%}
<script type="text/javascript">
$(document).ready(function () {
	$("#login-form".validate());
});
</script>
{% end %}
{% block content %}
  {% if current_user is not None%}
  <h3>Please select and action from the left menu</h3>
  {% else %}
  <form method="POST" action="/auth/login/" id="login-form">
		<p>Enter Username <input type="text" name="username" id="username" required></p>
		<p>Enter password <input type="password" name="password" id="password" required></p>
		<p><input type="submit" value="Login"></p>
	</form>
  {% end %}
  <span style="color: red">{{msg}}</span>
{% end %}