{% extends sitebase.html%}
{% block head %}
<script type="text/javascript">
  function render_plate(plate_id) {
    $.get('/plate/html/' + plate_id)
      .done(function (data) {
        $("#plate-render").html(data);
        if(data !== "") {
          $("#form-div").show();
          $("#plate-id").val(plate_id);
        }
        else {
          $("#form-div").hide();
          $("#plate-id").val("");
        }
      })
      .fail(function () {
        $("#message").text("ERROR: Could not communicate with server. Please try again in a few minutes");
      });
  }

  $(document).ready(function () {
    $("#platemap-select").chosen();
    $("#extraction-form").validate();

  });
</script>
{% end %}
{% block content %}
<div id="select">
  <h3>Log Extraction Run</h3>
  <div id="message">{% raw msg %}</div>
  Select platemap: <select style="width:350px;" name="platemap-select" id="platemap-select" onchange="render_plate(this.value)">
  <option value=""></option>
  {% for p in plates %}
    <option value="{{p.id}}">{{p.id}} - {{p.name}}</option>
  {% end %}
  </select>
</div>
<div id="plate-render" style="padding: 5px"></div>
<div id="form-div" hidden>
  <form method="POST" action="/log/extraction/" id="extraction-form">
  <input type="hidden" name="plate-id" id="plate-id">
  <table id="form-table">
  <tr><td>Extraction Kit Lot</td><td><input type="text" name="extractionkit_lot" required></td></tr>
  <tr><td>Extraction Robot</td><td><input type="text" name="extraction_robot" required></td></tr>
  <tr><td>tm1000_8 Tool</td><td><input type="text" name="tm1000_8_tool" required></td></tr>
  </table>
  <input type="submit" value="Log extraction run">
  </form>
</div>
{% end %}