<h3>Plate {{plate_id}} - {{plate_name}}</h3>
<table class="table plate">
<tr><th></th>
{% for col in range(len(platemap[0])) %}
	<th>{{ col + 1 }}</th>
{% end %}
</tr>
{% for row_pos, row in enumerate(platemap) %}
	<tr><th>{% raw chr(65 + row_pos) %}</th>
	{% for col_pos, col in enumerate(row) %}
	<td><input type="text" size=12 value="{% raw col.id if col is not None else '' %}" {% if not finalized %}onblur="update(this)"{% else %}disabled{% end %}></td>
	{% end %}
	</tr>
{% end %}
</table>
<input type="hidden" value="{{plate_id}}" name="plate-id">
<input type="button" value="Update" name="update" id="update"> <input type="button" value="Finalize" name="finalize" id="finalize" onclick="check_finalize()">