<h3>Plate {{plate_id}} - {{plate_name}}</h3>
<table class="table">
<tr><th></th>
{% for col in range(len(platemap[0])) %}
  <th>{{ col + 1 }}</th>
{% end %}
</tr>
{% for row_pos, row in enumerate(platemap) %}
  <tr><th>{% raw chr(65 + row_pos) %}</th>
  {% for col_pos, col in enumerate(row) %}
  <td><input type="text" size=12 class="well" id="{{row_pos}}-{{col_pos}}" value="{% raw col.name if col is not None else '' %}" {% if not finalized %}onblur="update(this)"{% else %}disabled{% end %}></td>
  {% end %}
  </tr>
{% end %}
</table>

<div id="select-sample-modal" title="Multiple samples found. Select Sample Set.">
  <h4>Multiple samples with that name. Select sample set.</h4>
  <form id="select-sample-form">
      <input type="hidden" name="sample" id="sample-name-multi">
      <input type="hidden" name="rowcol" id="rowcol-multi">
      <input type="hidden" name="plate_id" value="{{plate_id}}">
      <input type="hidden" name="action" value="update">
      <table class="Table">
        <tr><td>Sample Name</td><td id='view-sample-name-multi'></td></tr>
        <tr><td>Sample Set</td><td>
        <select name="sample-set" id="sample-set-multi" required></select></td></tr>
    </table>
  </form>
</div>

{% if override %}
<p><input type="checkbox" name="override" id="override"> <label for="override"> Override Sample Check</label></p>

<p style="color: red" id="message"></p>

<div id="dialog-form" title="Create Override Sample">
  <form id="create-sample-form">
      <input type="hidden" name="sample" id="sample-name">
      <table class="Table">
        <tr><td>Sample Name</td><td id='view-sample-name'></td></tr>
        <tr><td>Sample Set</td><td>
        <select name="sample-set" id="sample-set" required>
          <option value=""></option>
          {% for set in sets %}
          <option value="{{set}}">{{set}}</option>
          {% end %}
        </select><br/>
      </td></tr>
      <tr><td>Sample Type</td><td><input type="text" name="type" id="type" required></td></tr>
      <tr><td>Sample Location</td><td><input type="text" name="location" id="location" required></td></tr>
    </table>
  </form>
</div>
{% end %}
{% if not finalized %}
<p><input type="button" value="Finalize" name="finalize" id="finalize" onclick="check_finalize()"></p>
{% end %}

<script type="text/javascript">
{% if not finalized %}
  function check_finalize() {
    if(confirm('Are you sure you want to finalize the plate? You will not be able to add or remove samples once you do so.')) {
      $.post('/plate/update/', { action: 'finalize', plate_id: "{{plate_id}}" })
        .done(function (data) {
          $(".well").each(function (index, elem) {
            var obj = $("#" + elem.id);
            obj.attr("disabled", "disabled");
            obj.prop( "onblur", null );
            $("#finalize").remove();
          });
        });
    }
  }
{% end %}

  function update(elem) {
    var obj = $("#" + elem.id);
    if(obj.val() === "") { return; }
    data = {rowcol: elem.id, sample: obj.val()}
    post_sample_update(data, obj);
  }

  function update_with_sample_set() {
    var elem = $("#" + $("#rowcol-multi").val());
    data = $("#select-sample-form").serialize();
    post_sample_update(data, elem);
  }

  function post_sample_update(data, elem) {
    data.action = "update";
    data.plate_id = "{{plate_id}}";
    $.post('/plate/update/', data)
        .done(function (data) {
          if(data.msg !== "") {
            if(data.hasOwnProperty('sample_sets')) {
              //Multiple samples with that name, pick which sample set you want
              $("#sample-name-multi").val(elem.val());
              $("#view-sample-name-multi").text(elem.val());
              $("#rowcol-multi").val(elem.attr('id'));
              select = $("#sample-set-multi");
              select.html('');
              var o = new Option("", "");
              //Fix for IE8+
              $(o).html("");
              select.append(o);
              for(var i=0;i<data.sample_sets.length;i++) {
                var o = new Option(data.sample_sets[i], data.sample_sets[i]);
                //Fix for IE8+
                $(o).html(data.sample_sets[i]);
                select.append(o);
              }
              select_sample.dialog( "open" );
            } else if($("#override") != null && $("#override").prop('checked')) {
              elem.css("background-color", "yellow");
              clear_override();
              dialog.dialog( "open" );
              $("#sample-name").val(elem.val());
              $("#view-sample-name").text(elem.val());
              $("#message").text("");
            } else {
              fade(elem, "red");
              elem.val("");
              $("#message").css("color", "red");
              $("#message").text(data.msg);
            }
          } else {
            fade(elem, "green");
            $("#message").css("color", "green");
            $("#message").text("Successfully edited " + elem.val());
          }
      });
  }

  function fade(obj, color) {
    obj.css("background", color);
    setTimeout(function(){
        obj.css("background-color", "white"); // reset background
        obj.effect("highlight", {color: color}, 200); // animate
    },200);
  }

  select_sample = $( "#select-sample-modal" ).dialog({
    autoOpen: false,
    height: 200,
    width: 600,
    modal: true,
    buttons: {
      "Add Sample": function () {
        if($("#select-sample-form").valid()) {
          update_with_sample_set();
          select_sample.dialog( "close" );
          }
      },
      Cancel: function() {
        select_sample.dialog( "close" );
      }
    },
    close: function() {
    }
  });

  {% if override %}
  function clear_override() {
    $("#sample-name").val("");
    $("#sample-set").val("");
    $("#type").val("");
    $("#location").val("");
    $("#view-sample-name").text("");
  }

  function add_sample(elem) {
    $.post('/sample/add/', $("#create-sample-form").serialize())
      .done(function (data) {
        post_sample_update({rowcol: rowcol, sample: $("#sample-name").val()});
      })
      .fail(function () {
        $("#message").text("Could not add sample " + $("#sample-name").val());
      });
  }

  dialog = $( "#dialog-form" ).dialog({
    autoOpen: false,
    height: 400,
    width: 600,
    modal: true,
    buttons: {
      "Add Sample": function () {
        if($("#create-sample-form").valid()) {
          add_sample();
          dialog.dialog( "close" );
          }
      },
      Cancel: function() {
        dialog.dialog( "close" );
      }
    },
    close: function() {
    }
  });

  $(document).ready(function () {
    $("#create-sample-form").validate();
    $("#type").autocomplete({ source: {% raw types %} });
    $("#location").autocomplete({ source: {% raw locations %} });
  });
  {% end %}
</script>