<h3>Run {{run.name}}</h3>

{% if run.finalized %}
Finalized on {{run.finalized_on}}
<form method="GET" action="/run/gen_prep/{{run.id}}">
  <input type="submit" value="Download Prep Metadata">
</form>
{% else %}
<form method="POST" action="/run/view/">
  <input type="submit" value="Finalize Run">
  <input type="hidden" name="action" value="finalize">
  <input type="hidden" name="run" value="{{run.id}}">
</form>
{% end %}

<h4>Pools</h4>
<ul>
{% for pool in run.pools %}
	<li><a href="/pool/view/?pool_id={{pool.id}}">{{pool.name}}</a></li>
{% end %}
</ul>
