<h3>Pool {{pool.name}}</h3>
{% if not pool.finalized %}
<button id="add-plate">Add PCR plate</button>
<form method="POST" action="/pool/view/">
  <input type="submit" value="Finalize Pool">
  <input type="hidden" name="action" value="finalize">
  <input type="hidden" name="pool" value="{{pool.id}}">
</form>
{% else %}
Finalized on {{pool.finalized_on}}
{% end %}

<table class="table pool-table">
	<tr><th>Plate</th><th>Summary</th></tr>
{% for protocol in pool.protocols %}
	{% set plate = protocol.plate %}
	<tr><td>{% raw plate.to_html() %}</td><td>{{plate.name}}<br/>{{plate.id}}<br/><br/>{{protocol.primer_set}}<br/>{{protocol.primer_lot}}<br/>{{protocol.created_on}}</td></tr>
{% end %}
</table>
