<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Knight lab platemapper</title>
    <script src="/static/vendor/js/jquery-2.1.0.min.js"></script>
    <script src="/static/vendor/js/jquery-ui.min.js"></script>
    <script src="/static/vendor/js/jquery.validate.min.js"></script>
    <script src="/static/vendor/js/chosen.jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/vendor/css/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="/static/vendor/css/chosen.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="icon" type="image/ico" href="/static/img/favicon.ico">
{%block head%}
{%end%}
</head>
<body>
  <div id="parent">
    <div id="menu" class="menu">
    {% if current_user is not None %}
    <p>Hello {{current_user.id}}! <a href="/auth/logout/">Logout</a></p>
    <div id="menu-sample" class="inner-menu">
        <h4>Sample Sets &amp; Projects</h4>
        <a href="/project/add/">Add Project</a><br/>
        <a href="/project/delete/">Delete Project</a><br/>
        <a href="/project/view/">View Project</a><br/>
        <a href="/sampleset/add/">Add Sample Set</a><br/>
        <a href="/sampleset/delete/">Delete Sample Set</a><br/>
       </div>
      <p> </p>
      <div id="menu-sample" class="inner-menu">
        <h4>Samples &amp; Plates</h4>
        <a href="/sample/add/">Add Sample</a><br/>
        <a href="/sample/edit/">Edit Sample</a><br/>
        <a href="/plate/add/">Create Platemap</a><br/>
        <a href="/plate/edit/">View/Edit Platemap</a>
      </div>
      <p> </p>
      <div id="menu-protocols" class="inner-menu">
        <h4>Protocols &amp; Runs</h4>
        <a href="/log/extraction/">Log Extraction</a><br/>
        <a href="/log/pcr/">Log PCR</a><br/>
        <a href="/pool/view/">Pool Information</a><br/>
        <a href="/run/view/">Run Information</a><br/>
      </div>
      <p> </p>
      {% if current_user.check_access('Admin') %}
      <div id="menu-admin" class="inner-menu">
        <h4>Administrative</h4>
        <a href="/user/add/">Add user</a><br/>
        <a href="/user/edit/permissions/">Edit user permissions</a><br/>
        <a href="/user/delete/">Delete user</a><br/>
        <a href="/plate/revert/">Revert plate</a>
      </div>
      {% end %}
    {% else %}
    LOGIN
    {% end %}
    </div>
    <div id="content" class="template-content">
    {% block content %}{% end %}
    </div>
  </div>
</body>
</html>