{% extends sitebase.html %}
{% block head %}
<script type="text/javascript">
function render_pool(pool_id) {
	$.get("/pool/render/" + pool_id)
		.done(function (data) {
			$("#msg").text("");
			$("#render").html(data);
		}).fail(function () {
			$("#msg").text("ERROR: Could not communicate with server. Please try again in a few minutes");
		});
}

	$(document).ready(function () {
    {% if pool_id %}
    $("#pool").val({{pool_id}});
    render_pool({{pool_id}});
    {% end %}

		$(".chosen").chosen();
		dialog = $( "#dialog-form" ).dialog({
      autoOpen: false,
      height: 500,
      width: 350,
      modal: true,
      buttons: {
        "Create a Pool": function () {
          $("#create-form").submit();
        },
        Cancel: function() {
          dialog.dialog( "close" );
        }
      },
      close: function() {
        $("#name").val("");
      }
    });

    $( "#create-pool" ).on( "click", function() {
      dialog.dialog( "open" );
    });
	});
</script>
{% end %}

{% block content %}
<div id="select">
	<h3>View pool</h3>
	<div id="msg">{% raw msg %}</div>

	View Pool: <select style="width:350px;" name="pool" id="pool" class="chosen" onchange="render_pool(this.value)">
	<option value=""></option>
	{% for p in pools %}
		<option value="{{p.id}}">{{p.name}}</option>
	{% end %}
	</select> 
	Create Pool: <button id="create-pool">Create Pool</button>
  <hr>
</div>
<div id="render"></div>

<div id="dialog-form" title="Create new pool">
  <form action="/pool/view/" method="POST" id="create-form">
      <input type="hidden" name="action" value="create">
      <label for="name">Name</label>
      <p><input type="text" name="name" id="name" class="text" required></p>
      <label for="run">Add to run</label>
      <select style="width:300px;" name="run" id="run" class="chosen">
        <option value=""></option>
        {% for r in runs %}
        <option value="{{r.id}}">{{r.name}}</option>
        {% end %}
      </select>
      <!-- Allow form submission with keyboard without duplicating the dialog button -->
      <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
    </fieldset>
  </form>
</div>

{% end %}