body {
  font-family: Helvetica;
}

#parent {
  overflow: auto;
  width: 100%;
}

.menu {
  width: 210px;
  height: 100%;
  display: inline;
  postion: relative;
  float: left;
}

.inner-menu {
  border: solid 1px black;
  border-radius: 10px;
  padding: 10px;
}

.template-content {
  height: 100%;
  padding: 10px;
  display: inline;
  postion: relative;
  float: left;
}

.table td {
  padding: 5px;
}
/* specific styling for how to show plate map tables */
.plate th {
  font-weight: bold;
}

.truncated {
  white-space: nowrap;
  width:300px;
  overflow: hidden;
  text-overflow: ellipsis;
}

 .topfloat{
    position: fixed;
    padding-top: 5px;
    height:55px;
    top:50px;
    z-index:6;
    background:white;
    width:100%;
  }
